:root{
    --primary-color:#1E88E5;
    --secondary-color:#3949AB;
    --accnet-color:#BBDEFB;

    --light-color:#FFFFFF;
    --dark-color:#222222;

    --red-color:#b71c1c;
    --pink-color:#880E4F;
    --purple-color:#4A148C;
    --deep-purple-color:#311B92;
    --indigo-color:#1A237E;
    --blue-color:#0D47A1;
    --light-blue:#01579B;
    --cyan-blue:#006064;
    --tiel-blue:#004D40;
    --green-color:#1B5E20;
    --light-green-color:#33691E;
    --lime-color:#827717;
    --yellow-color:#F57F17;
    --amber-color:#FF6F00;
    --orange-color:#E65100;
    --deep-orange-color:#BF360C;
    --brown-color:#3E2723;
    --gray-color:#212121;
    --blue-gray-color:#263238;



}